.mobileShow {
  display: none;
}
.MCManagementLogo {
  // I feel this is an hacky way of getting an image in te center of a page,
  // I wll look for a better way
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .mobileShow {
    display: inline;
  }
}